@use 'sass:map';
@use 'breakpoints' as *;
@use 'variables' as *;

@mixin button__hover-nav {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: $color-orange;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease;
    }

    &:hover:not(.active) {
        &::after {
            transform: scaleX(1);
        }
    }

    &.active {
        &::after {
            bottom: -10px;
            left: -20px;
            transform: scaleX(1);
        }
    }
}

@mixin button__seeall {
    font-size: 20px;
    font-weight: 500;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .11);
}

@mixin button__read-more {
    color: inherit;
    padding: 18px 43px;
    background-color: $color-orange;
}

@mixin breadcrumbs {
    margin-bottom: 25px;

    &__list {
        display: flex;
        align-items: center;
        gap: 10px;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: $color-white;

        &:not(:last-child)::after {
            content: '>';
            margin-left: 10px;
            color: $color-white;
            font-size: 12px;
        }

        &--active {
            color: #E47500;
            cursor: default;
        }
    }

    &__link {
        color: inherit;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
            color: #E47500;
        }
    }
}

@mixin icon__decor-white {
    img {
        position: relative;
        z-index: 1;
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        z-index: 0;
    }
}

@mixin respond-to($breakpoint) {
    $value: map.get($breakpoints, $breakpoint);

    @if $value {
        @media (max-width: $value) {
            @content;
        }
    }

    @else {
        @warn "К сожалению, брейкпоинт `#{$breakpoint}` не найден.";
    }
}