@use '../abstracts' as *;

.services {
    padding-top: 110px;
    margin-bottom: 120px;

    &__breadcrumbs {
        display: flex;
        justify-content: center;
    }

    &__top {
        text-align: center;
    }

    &__top-title {
        font-size: 33px;
        font-weight: 600;
        margin-bottom: 22px;
    }

    &__top-text {
        font-weight: 500;
        margin-bottom: 50px;
    }

    &__items {
        padding: 72px 91px;
        border-radius: 10px;
        background-color: #1C140F;
        display: flex;
        gap: 20px;
        justify-content: space-between;

        @include respond-to('large') {
            padding: 50px 60px;
        }

        @include respond-to('medium') {
            padding: 20px 30px;
        }
    }

    &__item {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        column-gap: 36px;

        &__item:not(:last-child) {
            border-right: 2px solid #EEEFF2;
            padding-right: 118px;
        }

        @include respond-to('medium') {
            column-gap: 10px;
        }

        @include respond-to('large') {
            padding-right: 10px;
        }
    }

    &__item-wrapper {
        grid-row: 1/3;
        position: relative;
        display: flex;
        width: 55px;
        height: 55px;
        align-items: center;
        justify-content: center;

        @include icon__decor-white;

        @include respond-to('medium') {
            width: 35px;
            height: 35px;
        }
    }

    &__item-num {
        font-size: 25px;
        font-weight: 700;

        @include respond-to('medium') {
            font-size: 15px;
        }
    }

    &__item-text {
        font-size: 20px;

        @include respond-to('medium') {
            font-size: 10px;
        }
    }
}

.video {
    margin-bottom: 182px;

    &__inner {
        display: flex;
        gap: 87px;

        @include respond-to('large') {
            flex-wrap: wrap;
        }
    }

    &-preview {
        position: relative;
        width: 100%;
        aspect-ratio: 16 / 9;
        border-radius: 16px;
        overflow: hidden;
        cursor: pointer;
    }

    &-preview__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
        transform: scale(1.05);

    }

    &-preview:hover .video-preview__img {
        transform: scale(1.10);
    }

    &-preview__btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    &-preview__btn:hover {
        transform: translate(-50%, -50%) scale(1.1);
    }

    &-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        display: none;
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }

    &-modal.is-open {
        display: flex;
    }

    &-modal__content {
        width: 100%;
        max-width: 1200px;
        aspect-ratio: 16 / 9;
        position: relative;
    }

    &-modal__iframe-container {
        width: 100%;
        height: 100%;
    }

    &-modal__close {
        position: absolute;
        top: -40px;
        right: 20px;
        cursor: pointer;
        z-index: 10;
    }

    &__info {
        display: flex;
        flex-direction: column;

        @include respond-to('large') {
            align-items: center;
        }
    }

    &__info-title {
        font-size: 30px;
        font-weight: 700;
        line-height: 1.8;
        margin-bottom: 20px;
    }

    &__info-text {
        font-size: 14px;
        font-weight: 1.87;
        margin-bottom: 28px;
    }

    &__info-items {
        display: flex;
        flex-direction: column;
        gap: 21px;
    }

    &__info-item {
        display: flex;
        gap: 10px;
        align-items: center;
    }
}

.info {
    margin-bottom: 173px;

    &__items {
        display: flex;
        flex-direction: column;
        gap: 180px;

        @include respond-to('medium') {
            gap: 50px;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        @include respond-to('medium') {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__item-img {
        @include respond-to('medium') {
            order: 1;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__item-wrapper {
        max-width: 536px;

        @include respond-to('large') {
            line-height: 1.5;
            max-width: 350px;
        }

        @include respond-to('medium') {
            max-width: fit-content;
        }
    }

    &__item-title {
        font-size: 30px;
        margin-bottom: 43px;

        @include respond-to('large') {
            line-height: 1.5;
            font-size: 25px;
            margin-bottom: 30px;
        }
    }

    &__item-text {
        font-size: 17px;
        margin-bottom: 48px;

        @include respond-to('large') {
            font-size: 14px;
            margin-bottom: 35px
        }
    }

    &__item-btn {
        @include button__read-more;
    }
}

.swiper {
    padding: 83px 0 65px 0;
    background-color: #1C140F;

    &__top {
        text-align: center;
        max-width: 550px;
        margin: 0 auto;
    }

    &__top-title {
        font-size: 35px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    &__top-text {
        font-size: 14px;
        margin-bottom: 68px;
    }

    &__items {
        display: flex;
        gap: 50px;
        transition: transform 0.5s ease-in-out;

        @include respond-to('large') {
            gap: 35px;
        }
    }

    &__item {
        border: 2px solid #DDDDDD;
        border-radius: 10px;
        padding: 30px;
        max-width: 400px;
        flex: 0 0 calc((100% - 100px) / 3);
        max-width: none;

        @include respond-to('large') {
            flex: 0 0 calc((100% - 50px) / 2);
        }

        @include respond-to('medium') {
            flex: 0 0 calc((100% - 1px) / 1);
        }
    }

    &__active {
        border: 2px solid $color-orange;
        background-color: #0F0901;
    }

    &__item-text {
        line-height: 1.87;
    }

    &__item-top {
        display: flex;
        gap: 21px;
        align-items: center;
        padding-bottom: 20px;
    }

    &__item-location {
        font-size: 14px;
        color: #4F5665;
    }

    &__item-rating {
        margin-left: auto;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        padding-top: 60px;
    }

    &__nav-buttons {
        padding-right: 181px;
        display: flex;
        align-items: center;
        gap: 20px;

        @include respond-to('large') {
            padding-right: 50px;
        }
    }

    &__nav-btn-wrapper {
        border: none;
        background: transparent;
        padding: 0;
        cursor: pointer;

        &:disabled {
            cursor: default;
            opacity: 0.6;
        }
    }

    &__nav-button {
        height: 60px;
        width: 60px;
        padding: 20px;
        background-color: $color-orange;
        border-radius: 50%;
    }

    &__nav-button-active {
        background-color: #1C140F;
        border: 2px solid $color-orange;
    }

    &__viewport {
        overflow: hidden;
        width: 100%;
    }

    &__nav-pagination {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__nav-dot {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #D9D9D9;
        cursor: pointer;
        transition: width 0.35s ease, background-color 0.35s ease, border-radius 0.35s ease;

        &--active {
            width: 45px;
            background-color: $color-orange;
            border-radius: 50px;
        }
    }
}